GOOGLE_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
EMBEDDING_MODEL=models/text-embedding-004
CHROMA_HOST=localhost
CHROMA_PORT=8000
DATABASE_URL=sqlite+aiosqlite:///./solicitudes.db
PHOENIX_HOST=localhost
PHOENIX_PORT=6006
